body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding-top: 60px;
}

.App-title {
  text-align: center;
}

.App-title sup {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  color: var(--color-thme-text);
  background-color: var(--color-thme-bg);
  padding: 0 3px;
  border-radius: 3px;
  margin-left: 5px;
}

.App-editor {
  height: 260px;
  overflow: auto;
  margin-top: 50px !important;
}

.App-tools {
  margin-top: 5px;
  margin-bottom: 50px !important;
}

.App-tools,
.App-editor,
.info {
  max-width: 593px;
  margin: 0 auto;
}

.info {
  padding-top: 35px;
  padding-bottom: 60px;
}
